# Web Framework and Server
fastapi
uvicorn[standard]

# Database and ORM
sqlalchemy

# Data Validation and Environment Variables
pydantic
pydantic-settings
python-dotenv

# Security and Authentication (For the Admin Panel)
passlib[bcrypt]
python-jose[cryptography]
python-multipart